$purple: #21092b;
$violet: #554494;
$yellow: #ffff6d;

%button {
  font-family: 'Uni Sans', sans-serif;
  font-size: 30px;
  background: $yellow;
  border-radius: 10px;
  padding: 10px 55px;
  text-decoration: none;
  text-align: center;
  transition: box-shadow ease .8s;
  color: $purple;
  text-transform: uppercase;
  margin-right: auto;
  font-weight: 600;
  z-index: 120;

  &:hover {
    box-shadow: 0 0 20px $yellow;
  }
}